
    <div class="container">
        <div class="my_navbar">
          <ul>
            <li id="site-title"><a href="/globe/index">Escapergram</a></li>
            <li id="my_nav_info"><a href="/globe/index"> lets go again. </a></li>
            <li><button id="x_hrs_button" type="button">2 hours ago</button></li>
            <li id="updater">this is happening now on <%= params[:address] %>   <button id="add_to_favorite_places" type="button">favorite</button></li>

          </ul>

        </div>


          <!--main content -->
      <div class="starter-template">

        <div id='initial_images_div' ></div>
        <div id='x_hrs_div'></div>



      </div>

    </div><!-- /.container -->



<script>
var hours_ago = 2;
var my_lat = "<%= params[:lat] %>";
var my_lon = "<%= params[:lon] %>";
var address = "<%= params[:address] %>";
// var cleaned_address;

$(document).ready(function() {


  // if (address === undefined){
  //       var latlng = new google.maps.LatLng(my_lat, my_lon);
  //       geocoder.geocode({"latLng": latlng}, function(results, status) {
  //         if (results.length > 0) {
  //             address = results[0].formatted_address;
  //           }
  //       };
  // }

  // var get_address_again = function(){
  //       var latlng = new google.maps.LatLng(my_lat, my_lon);
  //       geocoder.geocode({"latLng": latlng}, function(results, status) {
  //         if (results.length > 0) {
  //             address = results[0].formatted_address;
  //         }
  //       }
  // };


  var set_place_name = function (){
      $( "#where_u_at").html(address);
  };


  var initial_images = function (images_obj){
    $( "#initial_images_div" ).html('');
      for (i = 0; i < images_obj.length; i++){
        if (typeof images_obj[i] != "undefined") {
          if(images_obj[i].images.low_resolution){
            // console.log(images_obj[i]);
            $("#initial_images_div").append('<div class="imgbox"><a href="' + images_obj[i].link + '"><img src="' + images_obj[i].images.low_resolution.url + '"><span>'+images_obj[i].created_time+'</span></a></div>');
          }
        }
      }
  };

  set_place_name();

var refresher = function () {
  $.ajax({
    url: "/get_images",
    data: {lat: my_lat,lon: my_lon},
    success: initial_images,
    complete: get_fresh
  });
};

var refresher_not = true;
var timeout = null;

var get_fresh = function() {
  if (refresher_not === true){
      timeout = setTimeout(refresher, 5000);
  }
}

refresher();



  // $.get("/get_images", {lat: my_lat,lon: my_lon}, initial_images);


  var got_images = function (images_obj){
      for (i = 0; i < images_obj.length; i++){
        if (typeof images_obj[i] != "undefined") {
          if(images_obj[i].images.low_resolution){
            $("#x_hrs_div").prepend('<div class=" imgbox ' + hours_ago + '_hrs_class"><a href="' + images_obj[i].link + '"><img src="' + images_obj[i].images.low_resolution.url + '"><span>'+images_obj[i].created_time+'</span></a></div>');
          }
        }
      }
  };

  // var address_cleaner = function()
  //         cleaned_address = address.replace(/(\s)/ ,"%20");
  // };




  $("#x_hrs_button").click(function(event){
      event.preventDefault();
      refresher_not = false;
      clearTimeout(timeout);

      if (hours_ago === 2){
          $( "#my_nav_info").append(
            '<li id="my_nav_info"><%= link_to( "back to now.", get_images_path(:html) + "?lat=#{params[:lat]}&lon=#{params[:lon]}&address=#{URI::encode( params[:address] ) if params[:address]}" ) %></li>');

          // $( "#initial_images" ).animate({
          //   opacity: 0.35,
          //   }, 700, function() {
          //   // Animation complete.
          // });

          $( "#initial_images_div" ).html('');
      }


      if(hours_ago < 24){
          $.get("/get_images_x_hrs_ago", {lat: my_lat,lon: my_lon, hours_ago:hours_ago+=2}, got_images);
          $("#x_hrs_button").html(hours_ago + " hours ago");


          $( "." +(hours_ago-2)+ "_hrs_class" ).animate({
              opacity: 0.35,
              }, 400, function() {
              // Animation complete.
          });

          $( "#updater").html("this is " +(hours_ago-2)+ " hours ago on "+address);
        } else {
          $( "#updater").html("you've seen the last 24hrs");
      }
  });

  $("#add_to_favorite_places").click(function(event){
          $.ajax({
            type: "POST",
            url: "add_to_favorite_places",
            data: {lat: my_lat, lon: my_lon, address: address, user_id: <%= current_user.id %>},
            success: alert(address+' has been added to favorites!')
          });
  });

});
</script>








