<div class="container">
        <div class="my_navbar">
          <ul>
            <li id="site-title"><a href="/globe/index">Escapergram</a></li>
            <li id="my_nav_info"><a href="/globe/index"> lets go again. </a></li>

          </ul>

        </div>


          <!--main content -->
      <div class="starter-template">
        <div class="body_stuff">
          <br><br><br><br>
            <h5><%= current_user.email %>'s favorite places to go </h5>
            <br>
        <% if current_user.favorite_places.length > 0 %>
            <table id="favorites_places">
              <tr>
                <th>address</th>
                <th>latitude</th>
                <th>longitude</th>
              </tr>
                  <% @favorite_places.each do |place| %>
                    <tr id='row<%=place.id%>'>
                        <% if place.user.id == current_user.id %>
                            <td><%= place.address %></td>
                            <td><%= place.lat %></td>
                            <td><%= place.lon %></td>
                            <td><button>
                            <%= link_to( "go now", get_images_path(:html) + "?lat=#{place.lat}&lon=#{place.lon}&address=#{place.address}" ) %>
                            </button></td>
                             <td>
                              <button id='delete_<%=place.id%>'>Delete</button>
                              <!-- <button> -->
                            <%#= link_to( "remove", favorite_place_path(place.id), method: :delete) %>

                            <%#= button_to "delete", place, :method=>:delete %>
                            <!-- </button> -->
                          </td>
                        <% end %>
                    </tr>
                  <% end %>
            </table>
        <% else %>
              You have no favorites yet.<br>
              Once you click to an address, favorite it by pressing <br>
              the button in the top right corner!
        <% end %>

        </div>
      </div>

</div><!-- /.container -->

<script>
$(function() {

var user_fav_length = <%= current_user.favorite_places.length %>;
debugger;


  function removeRow(id) {
    $('#row'+id).fadeOut();
    user_fav_length--;
    debugger;

    if(user_fav_length === 0) {
      $('#favorites_places').html('You have no favorites yet.<br>Once you click to an address, favorite it by pressing<br>the button in the top right corner!');
    }
  }

  <% @favorite_places.each do |place| %>
    $('#delete_<%=place.id%>').click(function () {
      $.ajax({
        url: "<%=favorite_place_path(place.id)%>",
        type: "post",
        dataType: "json",
        data: {"_method":"delete"},
        success: function(response) {
          if (response.success) {
            removeRow(<%=place.id%>);
          }else {
            alert('deleting favorite item failed, sorry!');
          }
        }
      });
    });
  <% end %>
});
</script>


